<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Interests:</b>
  <%= @user.interests %>
</p>

<p>Anime Reccomendations</p>
<div id="anime_list">
 <ol>
  <%= render partial: 'shared/anime', collection: @animes %>
 </ol>
</div>

<%= link_to 'Back', users_path %>
